<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bokeh</title>
  </head>
  <body>
    <style>
      .bokeh {
        margin: auto;
      }
      .bokeh div {
        width: 100%;
        height: 100%;
      }
    </style>
    <div class="bokeh">
      <div>
        {{div|safe}}
      </div>
    </div>

    <script
      src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"
      crossorigin="anonymous"
    ></script>

    {{script|safe}}
  </body>
</html>
